@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 padd">Welcome to our chess database</h1>
    <p class="underTop display-2">With our player database you can easily get ready for your upcoming chess matches</p>
     <div id="Slider">
      <div id="image1">
          <img src="~/css/chess.jpg" alt="" style="width:1000px;height:1000px;">
      </div>
      <div id="image2">
          <img src="~/css/chess2.jpg" alt="" style="width:1000px;height:1000px;">
      </div>
      <div id="image3">
          <img src="~/css/chess1.jpg" alt="" style="width:1000px;height:1000px;">
      </div>
     </div>
</div>