@model Fajn.ViewModels.GameUpdateViewModel

<script>
 
   function submitStudent() {
        
        var data = { };
        data["White"] = $("#White").val(); 
        data["Black"] = $("#Black").val();
        data["Result"] = $("#Result").val();
        data["Date"] = $("#Date").val();
        data["Pgn"] = $("#Pgn").val();
        data["EventId"] = $("#EventId").val();
        data["id"] = @Model.id;
        $.ajax({
            url: '@Url.Action("Apdejt", "Game")',
            data: data,
            type: "POST",
            dataType: 'TEXT',
            success: function(data) {
                alert("Game was succesfully edited!");
            },
            error: function(passParams) {
                alert("You need to pass all parameters");
            }
        });

    } 

</script>

<h4>Update Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="White" class="control-label"></label>
                <input asp-for="White" class="form-control" required/>
                <span asp-validation-for="White" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Black" class="control-label"></label>
                <input asp-for="Black" class="form-control" required/>
                <span asp-validation-for="Black" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" required/>
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
           <div class="form-group">
                 <label asp-for="Events" class="control-label">Event</label>
                 <select id="EventId" class="form-control" asp-for="EventId" asp-items="@(new SelectList(Model.Events, "EventId", "EventName" ))">  
                    <option value="">--Select--</option>  
                </select>  
            </div>
             <div class="form-group no-border">
                <label asp-for="Pgn" class="control-label">Your chess file (.pgn)</label>
                <input type="file" asp-for="Pgn" class="form-control no-border" accept=".pgn"/>
                <span asp-validation-for="Pgn" class="text-danger"></span>
            </div>

           <div class="form-group">
                <button type="button" class="btn btn-primary wid" onclick="submitStudent()">Submit</button>
            </div>

            </form>
    </div>
</div>
            <hr />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
